
/* אנימציית מטבעות קריפטו */
.crypto-animation {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .coin {
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: fall 3s infinite ease-in-out;
  }
  
  /* אנימציה לנפילה */
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(400px) rotate(360deg);
      opacity: 0;
    }
  }
  
  
  
  .success-message-contactform-homepage {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(45deg, #f4c10f, #ff5722);
    color: white; /* צבע הכתב ברירת מחדל */
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    margin: 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  .success-message-contactform-homepage h2 {
    color: white; /* צבע הכותרת */
    font-size: 1.8rem; /* גודל כותרת */
    margin-bottom: 1rem;
  }
  
  .success-message-contactform-homepage p {
    color: white; /* צבע הטקסט */
    font-size: 1rem;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

